/*
 * Copyright (c) 2021 Mike "KemoNine" Crosson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/* =========================================================
 * Voice dictation macro (Win + H)
 * ========================================================= */
/ {
    macros {
        voice_dictation: voice_dictation {
            compatible = "zmk,behavior-macro";
            label = "VOICE_DICTATION";

            #binding-cells = <0>;

            bindings = <
                &macro_press &kp LGUI
                &macro_tap   &kp H
                &macro_release &kp LGUI
            >;
        };
    };
};

/*****************************************
 * Macros for filling in "&none"
 *****************************************/
#define NONE0(X)
#define NONE1(X) X
#define NONE2(X) NONE1(X) X
#define NONE3(X) NONE2(X) X
#define NONE4(X) NONE3(X) X
#define NONE5(X) NONE4(X) X
#define NONE6(X) NONE5(X) X
#define NONE7(X) NONE6(X) X
#define NONE8(X) NONE7(X) X
#define NONE9(X) NONE8(X) X
#define NONE10(X) NONE9(X) X

#define NONE(HUNDREDS,TENS,ONES) \
  NONE##HUNDREDS(NONE10(NONE10(&none))) \
  NONE##TENS(NONE10(&none)) \
  NONE##ONES(&none)

/*****************************************
 * ARTSEY configuration
 *****************************************/

#if !defined ARTSEY_BT_TOP
#define ARTSEY_BT_TOP &out OUT_BLE
#endif
#if !defined ARTSEY_BT_BOTTOM
#define ARTSEY_BT_BOTTOM &out OUT_USB
#endif

#if !defined TIMEOUT_COMBO_2
#define TIMEOUT_COMBO_2 175
#endif
#if !defined TIMEOUT_COMBO_3
#define TIMEOUT_COMBO_3 175
#endif
#if !defined TIMEOUT_COMBO_4
#define TIMEOUT_COMBO_4 175
#endif
#if !defined TIMEOUT_LAYER_HOLD
#define TIMEOUT_LAYER_HOLD 200
#endif
#if !defined TIMEOUT_STICKY_LEADER_KEY
#define TIMEOUT_STICKY_LEADER_KEY 5000
#endif

&sk { release-after-ms = <TIMEOUT_STICKY_LEADER_KEY>; };
&sl { release-after-ms = <TIMEOUT_STICKY_LEADER_KEY>; };

/*****************************************
 * Custom layer (LEFT HAND)
 * Voice dictation macro is bound here
 *****************************************/
#if !defined ARTSEY_LAYER_CUSTOM
#if defined ARTSEY_LEFT
#define ARTSEY_LAYER_CUSTOM                                            \
    custom {                                                           \
        label = "Custom";                                              \
        bindings = <                                                   \
            LEADING_NONES                                              \
            &none               &kp C_VOL_UP  &kp INS   &kp C_MUTE     \
            MIDDLE_NONES                                               \
            &mo LAYER_ID_CUSTOM &kp C_VOL_DN  &voice_dictation &sk RSHFT \
            TRAILING_NONES                                             \
        >;                                                             \
    };
#endif
#endif

/*****************************************
 * Base character definitions
 *****************************************/
#define ARTSEY_BASE_A A
#define ARTSEY_BASE_R R
#define ARTSEY_BASE_T T
#define ARTSEY_BASE_S S
#define ARTSEY_BASE_E E
#define ARTSEY_BASE_Y Y
#define ARTSEY_BASE_I I
#define ARTSEY_BASE_O O
#define ARTSEY_COMBO_N N

/*****************************************
 * Layer IDs
 *****************************************/
#define LAYER_ID_GLOBAL -1
#define LAYER_ID_BASE 0
#define LAYER_ID_NUMBERS 1
#define LAYER_ID_SYMBOLS 2
#define LAYER_ID_PARENTHETICALS 3
#define LAYER_ID_NAVIGATION 4
#define LAYER_ID_BT_SEL 5
#define LAYER_ID_CUSTOM 6
#define LAYER_ID_BIG_SYM 7
#define LAYER_ID_BIG_FUNCTION 8

/*****************************************
 * Combo definitions (unchanged)
 *****************************************/
&{/} {
    combos {
        compatible = "zmk,combos";

        combo_enter      { timeout-ms = <TIMEOUT_COMBO_2>; key-positions = <KEY_A KEY_E>; bindings = <&kp ENTER>; };
        combo_control    { timeout-ms = <TIMEOUT_COMBO_2>; key-positions = <KEY_E KEY_S>; bindings = <&sk LCTRL>; };
        combo_gui        { timeout-ms = <TIMEOUT_COMBO_2>; key-positions = <KEY_Y KEY_S>; bindings = <&sk LGUI>; };
        combo_alt        { timeout-ms = <TIMEOUT_COMBO_2>; key-positions = <KEY_I KEY_S>; bindings = <&sk LALT>; };
        combo_backspace  { timeout-ms = <TIMEOUT_COMBO_2>; key-positions = <KEY_E KEY_R>; bindings = <&kp BACKSPACE>; };
        combo_delete     { timeout-ms = <TIMEOUT_COMBO_2>; key-positions = <KEY_I KEY_R>; bindings = <&kp DELETE>; };
        combo_shift_lock { timeout-ms = <TIMEOUT_COMBO_2>; key-positions = <KEY_R KEY_Y>; bindings = <&kt LSHFT>; };
    };
};

/*****************************************
 * Layer activation behaviors (unchanged)
 *****************************************/
&{/} {
    behaviors {
        layer_base_kp: layer_base_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <TIMEOUT_LAYER_HOLD>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
        layer_numbers_kp: layer_numbers_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <TIMEOUT_LAYER_HOLD>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
        layer_symbols_kp: layer_symbols_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <TIMEOUT_LAYER_HOLD>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
        layer_parentheticals_kp: layer_parentheticals_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <TIMEOUT_LAYER_HOLD>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
        layer_custom_kp: layer_custom_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <TIMEOUT_LAYER_HOLD>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };
};